
.green {
    color: #1ABB9C
}

.tile_count {
    margin-bottom: 20px;
    margin-top: 20px
}
.tile_count .tile_stats_count {
    padding: 0 15px 10px 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    text-align: center;
}

.tile_count .tile_stats_count .count {
    font-size: 50px;
    line-height: 48px;
    font-weight: 640;
    text-align: center;
}

.tile_count .tile_stats_count:before {
    position: absolute;
    left: 0;
    height: 65px;
    border-left: 2px solid #ADB2B5;
    margin-top: 10px
}

.count {
    padding: 0px 0px 0px 25px;
}

.device-id {
    color: #000000
}

