{%- extends "navbase.html" %}

{% block title %}Sample App for Flask-Bootstrap{% endblock %}

{% block content %}
<div class="row tile_count justify-content-center">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-microchip"></i> Total Devices</span>
        <div class="count">112</div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-users"></i> Total Users</span>
        <div class="count">32</div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <div class="justify-content-center">
            <span class="count_top"><i class="fa fa-user-clock"></i> Devices At Users</span>
            <div class="count">60</div>
        </div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user-slash"></i> Available Devices</span>
        <div class="count">52</div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-percent"></i> Device Usage</span>
        <div class="count">53,6</div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-8 mb-md-4">
        <canvas id="myChart" height="100"></canvas>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="page-header my-md-2">
            <h1>Most Devices</h1>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>User ID</th>
                <th>Name</th>
                <th>Devices</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>admin</td>
                <td>25</td>
            </tr>
            <tr>
                <td>2</td>
                <td>JNK</td>
                <td>19</td>
            </tr>
            <tr>
                <td>3</td>
                <td>ALERU</td>
                <td>16</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <div class="page-header my-md-2">
            <h1>Longest Period</h1>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>User ID</th>
                <th>Name</th>
                <th>Period</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>2</td>
                <td>JNK</td>
                <td>214 Days</td>
            </tr>
            <tr>
                <td>1</td>
                <td>admin</td>
                <td>85 Days</td>
            </tr>
            <tr>
                <td>3</td>
                <td>ALERU</td>
                <td>25 Days</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
            label: '# of used Devices',
            data: [12, 19, 25, 55, 24, 11, 25, 38, 58, 44, 39, 15],
            borderColor: "#3e95cd",
            fill: false
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});

</script>
{% endblock %}

